# SPDX-License-Identifier: CC0-1.0

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# .tnt data files for testing
*.tnt
testdata/*

# IPython notebook files for exploratory work to find out why tests fail
*.ipynb
